###################################################################
# git ignore files 
# - specify any files not to be maintained within the repo
###################################################################

# intermediate directories (generaged from toolchains)
out/
OUT/
RTE/
obj/
OBJ/
Objects/
lst/
LST/
Listings/
settings/
Debug/
Release/
BUILD*/
build*/

# intermediate files (keil generated)
*.uvopt
*.uvoptx
*.uvgui.*
*.uvguix.*
*.uvmpw.uvgui.*
*.build_log.htm
JLink*

# object, dependency, output binaries
*.dep
*.d
*.o
*.so
*.dll
*.out
*.elf
*.crf
*.map
*.exe
*.axf
*.bin
*.hex
*.iex
*.dat
*.files
*.swp
*.pyc
*.scvd
*.ewt
target_gen.ld
